:host {
    display: flex;
    margin: auto;
    flex-direction: column;
    align-content: stretch;
    width: 80%;
    max-width: 400px;
}
label {
    display: block;
}
input {
    border: 1px solid #dddbda;
    border-radius: 0.25rem;
    width: 100%;
    transition: border 0.1s linear, background-color 0.1s linear;
    display: inline-block;
    padding: 0 1rem 0 0.75rem;
    margin: 0.5rem 0;
    line-height: 1.875rem;
    min-height: calc(1.875rem + 2px);
}
input[readonly] {
    background-color: #ecebea;
}
button {
    padding: 0 1rem;
    border-radius: 0.25rem;
    line-height: 1.875rem;
    user-select: none;
    cursor: pointer;
    text-align: center;
    vertical-align: middle;
    transition: border 0.15s linear;
    background-color: #2e5266;
    color: #fff;
    min-width: 8rem;
}
button:hover {
    background-color: #416173;
}
button[disabled] {
    background: #c9c7c5;
    cursor: default;
}

.hide {
    display: none;
}
.invisible {
    visibility: hidden;
}
.icon {
    width: 2rem;
    height: 2rem;
}
.has-success input {
    border-color: #4bca81;
    box-shadow: inset 0 0 0 1px #4bca81;
}
.has-success .icon {
    fill: #4bca81;
    border-color: #4bca81;
}
.has-error input {
    border-color: #c23934;
    box-shadow: inset 0 0 0 1px #c23934;
}
.has-error .icon {
    fill: #c23934;
    border-color: #c23934;
}
.error {
    color: #c23934;
    min-height: 1rem;
}

.input-with-icons {
    display: flex;
    align-items: center;
}

.input-with-icons .icon {
    position: relative;
    right: 2rem;
}

.form-footer {
    display: flex;
    justify-content: center;
    margin-top: 1.5rem;
}
