:host {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    flex-grow: 1;
    flex-direction: column;
}

.label {
    font-size: 2rem;
    margin: 1rem 3rem 0;
}

.answers {
    display: flex;
    flex-wrap: wrap;
    flex-grow: 1;
}

.answer {
    width: 50%;
    display: flex;
}

.answer button {
    width: 100%;
    font-weight: bold;
    border-radius: 0.5rem;
    border-width: 0;
    font-size: xx-large;
    color: #ffffff;
    margin: 1rem;
}

.answer button[data-answer='A'] {
    background-color: #1589ee;
}

.answer button[data-answer='B'] {
    background-color: #ff9e2c;
}

.answer button[data-answer='C'] {
    background-color: #d4504c;
}

.answer button[data-answer='D'] {
    background-color: #04844b;
}
