:host {
    display: flex;
    flex-direction: column;
    align-items: center;
    align-content: stretch;
    height: 100vh;
}

.body {
    flex-grow: 1;
    width: 100%;
    display: flex;
    flex-direction: column;
}

h1 {
    text-align: center;
}

.error {
    color: red;
}

span[data-answer] {
    margin-left: 0.25rem;
    padding: 0 0.5rem;
    color: white;
    border-radius: 0.3rem;
}
span[data-answer='A'] {
    background-color: #1589ee;
}
span[data-answer='B'] {
    background-color: #ff9e2c;
}
span[data-answer='C'] {
    background-color: #d4504c;
}
span[data-answer='D'] {
    background-color: #04844b;
}
