.spinner {
    display: inline-block;
    width: 3rem;
    height: 3rem;
}
.spinner:after {
    content: ' ';
    display: block;
    width: 2rem;
    height: 2rem;
    border-radius: 50%;
    border: 5px solid #20445e;
    border-color: #20445e transparent #20445e transparent;
    animation: spinner 1.2s linear infinite;
}
@keyframes spinner {
    0% {
        transform: rotate(0deg);
    }
    100% {
        transform: rotate(360deg);
    }
}
